// Buttons
.btn-primary {
  border-color: $swamp;
  &:hover {
    background-color: lighten($deep_cerulean,10%);
  }
}
.btn-secondary {
  border-color: $swamp;
  &:hover {
    background-color: lighten($emporor,10%);
  }
}
.btn-outline-light {
  &:hover, &:focus {
    color: $deep_cerulean;
  }
}
// Button Animations
.fade-enter-active, .fade-leave-active {
  @include transition(opacity .3s ease-in-out);
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.slide-fade-enter-active {
  transition: all .15s ease;
}
.slide-fade-leave-active {
  transition: all .15s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to { // .slide-fade-leave-active for <2.1.8
  transform: translateX(10px);
  opacity: 0;
}
.transition-delay {
  transition-delay: .3s;
}