// Color Switches
.color-swatch {
    min-height: 100px;
    @include boxshadow(3);
    font-size: 1rem;
    padding: 15px;
    margin-bottom: 15px;
    border: 5px solid #FFF;
    color: #FFF;
    background-color: #eee;
    @each $color, $value in $theme-colors {
        $i: index(($theme-colors), ($color $value));
        &.swatch#{$i} {
            color: color-yiq($value);
            background-color: $value;
        }
    }
}